@charset "UTF-8";

/* 共通部分 */
html {
  font-size: 100%;
}

body {
  color: #444;
  font-weight: normal;
  font-family: "Noto Sans JP", sans-serif;
  max-width: 1920px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.wrapper {
  margin: 0 auto;
  max-width: 1180px;
}

.underline {
  background: linear-gradient(transparent 70%, #99E5A5 0%);
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1180px;
  padding: 29px 20px 28px 20px;
}

.header-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.reception-time {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 16px;
}

.tel {
  display: flex;
  justify-content: right;
}

.tel-icon {
  display: flex;
  align-self: center;
}

.tel-no {
  color: #21A937;
  font-size: 24px;
  font-weight: bold;
  margin-left: 15px;
}

/* FIRST VIEW */
.fv {
  background-image: url(../images/fv.jpg);
  background-position: center top;
  background-size: cover;
}

.fv-title {
  display: flex;
  justify-content: left;
  gap: 80px;
  padding: 133px 0 249px 211px;
}

.reverse {
  flex-direction: row-reverse;
}

.fv h2 {
  background-color: #fff;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 6px;
  line-height: 34px;
  padding: 25px 37px 104px;
  writing-mode: vertical-rl;
}

.fv span {
  color: #21A937;
}

/* ABOUT */
.about {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
  max-width: 1180px;
  padding: 162px 0 82px;
}

.about-text {
  padding-top: 38px;
  padding-left: 32px;
}

.about-text h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 40px;
}

.about-text p {
  font-size: 16px;
  line-height: 38px;
  margin-top: 6px;
}

.about-img {
  max-width: 690px;
}

/* CONTENT */
.content {
  background-color: #F5FCF8;
  padding-top: 85px;
}

.content-text {
  text-align: center;
}

.content-text h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 38px;
  margin-bottom: 79px;
}

.content-text p {
  font-size: 16px;
  line-height: 38px;
  margin-bottom: 37px;
}

.content-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  max-width: 1180px;
}

.content-item {
  background-color: #fff;
  border: 2px solid #C9C9C9;
  border-radius: 10px;
  position: relative;
  width: 380px;
  height: 591px;
}

.content-item h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 38px; 
  margin-top: 47px;
  text-align: center;
}

.content-item p {
  font-size: 16px;
  font-weight: bold;
  line-height: 38px;
  margin: 54px 29px 0 31px;
}

.content-item img {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

/* NEWS */
.news {
  background-color: #F5FCF8;
  padding-top: 88px;
  padding-bottom: 112px; 
}

.news h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
  margin-bottom: 74px;
}

.news-list {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
  max-width: 1180px;
  margin: 0 auto;
  padding: 30px 0 49px;
}

.news-item {
  border-bottom: 2px solid #E7E7E7;
  display: flex;
  justify-content: left;
  margin: 0 66px 19.5px;
  padding-bottom: 18.5px;
}

.news-date {
  align-self: center;
  color: #21A937;
  font-size: 16px;
  font-weight: bold;
  line-height: 38px;
  margin-right: 36px;
}

.news-tag {
  align-self: center;
  background-color: #444;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 25px;
  margin-right: 30px;
  text-align: center;
  width: 80px;
  height: 25px;
}

.news-text {
  align-self: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 38px;
}

.read-all {
  margin-top: 45px;
  margin-right: 65px;
  text-align: right;
}

/* ACCESS */
.access {
  display: flex;
  gap: 34px;
  margin: 0 auto;
  max-width: 1180px;
  padding: 196px 0 163px;
}

.access-logo {
  margin-bottom: 30px;
}

.access-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
}

.address {
  font-size: 16px;
  line-height: 38px;
  margin-bottom: 30px;
}

.calendar {
  width: 533px;
}

.calendar p {
  font-size: 14px;
}

.business-hours {
  border-top: 2px solid #E7E7E7;
  display: flex;
  gap: 57px;
  padding-top: 19px;
  padding-bottom: 10px;
}

.hours-list {
  border-left: 2px solid #E7E7E7;
  padding-left: 28.5px;
}

.hours-item {
  display: flex;
  justify-content: left;
}

.hours-day {
  margin-right: 23px;
  margin-bottom: 19px;
}

.hours-time {
  margin-right: 16px;
  margin-bottom: 19px;
}

.closed-days {
  border-bottom: 2px solid #E7E7E7;
  display: flex;
  justify-content: left;
  gap: 71px;
  padding-top: 10px;
  padding-bottom: 19px;
}

.closed-day {
  border-left: 2px solid #E7E7E7;
  padding-left: 28.5px;
}

.copy-right {
  font-size: 11px;
  margin-top: 26.5px;
  text-align: right;
}